---
swagger: "2.0"
info:
  version: "1.0"
  title: "Dynatrace Configuration API"
host: "siz65484.live.dynatrace.com"
basePath: "/api/config/v1"
tags:
- name: "ApplicationDetectionConfig"
  description: "Manage application detection rules."
- name: "WebApplicationConfig"
  description: "Manage web applications."
- name: "RequestAttributes"
  description: "Manage request attributes."
- name: "DataPrivacy"
  description: "Manage global data privacy settings."
- name: "Anomaly Detection - Hosts"
  description: "Manage anomaly detection configuration for hosts."
- name: "Anomaly Detection - Services"
  description: "Manage anomaly detection configuration for services."
- name: "Anomaly Detection - Disk Events"
  description: "Manage anomaly detection configuration for disk events."
- name: "Anomaly Detection - AWS"
  description: "Manage anomaly detection configuration for AWS."
- name: "Anomaly Detection - VMware"
  description: "Manage anomaly detection configuration for VMware."
- name: "CustomServices"
  description: "Manage custom services."
- name: "Automatically applied tags"
  description: "Manage automatically applied tags."
schemes:
- "https"
paths:
  /anomalyDetection/aws/validator:
    post:
      tags:
      - "Anomaly Detection - AWS"
      summary: "Validate configuration of anomaly detection for AWS (for PUT request)."
      description: ""
      operationId: "validateAwsAnomalyDetectionConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AwsAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ doesn't have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/aws:
    get:
      tags:
      - "Anomaly Detection - AWS"
      summary: "Get configuration of anomaly detection for AWS."
      description: ""
      operationId: "getAwsAnomalyDetectionConfig_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AwsAnomalyDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Anomaly Detection - AWS"
      summary: "Update configuration of anomaly detection for AWS."
      description: ""
      operationId: "updateAwsAnomalyDetectionConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AwsAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Configuration has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/diskEvents:
    get:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Get the list of disk event rules."
      description: ""
      operationId: "listDiskEventConfigs_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DiskEventAnomalyDetectionConfigList"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    post:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Create a new disk event rule."
      description: ""
      operationId: "createDiskEventConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DiskEventAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        201:
          description: "If the creation is successful, the new disk event rule is\
            \ returned."
          schema:
            $ref: "#/definitions/DiskEventAnomalyDetectionConfig"
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/diskEvents/{id}:
    get:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Get the disk event rule with the given id."
      description: ""
      operationId: "getDiskEventConfig_1"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DiskEventAnomalyDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Update the disk event rule with the given id."
      description: ""
      operationId: "updateDiskEventConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DiskEventAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Configuration has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    delete:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Delete the disk alert rule with the given id."
      description: ""
      operationId: "deleteDiskEventConfig_1"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      responses:
        204:
          description: "Success. Configuration has been deleted. Response doesn't\
            \ have a body."
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/diskEvents/validator:
    post:
      tags:
      - "Anomaly Detection - Disk Events"
      summary: "Validate configuration of disk event rule."
      description: ""
      operationId: "validateDiskEventConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DiskEventAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ doesn't have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/hosts:
    get:
      tags:
      - "Anomaly Detection - Hosts"
      summary: "Get configuration of anomaly detection for hosts."
      description: ""
      operationId: "getHostEventsConfig_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/HostsAnomalyDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Anomaly Detection - Hosts"
      summary: "Update configuration of anomaly detection for hosts."
      description: ""
      operationId: "updateHostEventsConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/HostsAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Configuration has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/hosts/validator:
    post:
      tags:
      - "Anomaly Detection - Hosts"
      summary: "Validate configuration of anomaly detection for hosts (for PUT request)."
      description: ""
      operationId: "validateHostEventsConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/HostsAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ doesn't have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/services:
    get:
      tags:
      - "Anomaly Detection - Services"
      summary: "Gets the service anomaly detection configuration"
      description: ""
      operationId: "getConfiguration_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ServiceAnomalyDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Anomaly Detection - Services"
      summary: "Updates the service anomaly detection configuration"
      description: ""
      operationId: "updateConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ServiceAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. The response body contains the updated service anomaly\
            \ detection configuration."
          schema:
            $ref: "#/definitions/ServiceAnomalyDetectionConfig"
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/services/validator:
    post:
      tags:
      - "Anomaly Detection - Services"
      summary: "Validates the service anomaly detection configuration"
      description: ""
      operationId: "validateConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ServiceAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/vmware:
    get:
      tags:
      - "Anomaly Detection - VMware"
      summary: "Get configuration of anomaly detection for VMware."
      description: ""
      operationId: "getVMwareAnomalyDetectionConfig_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/VMwareAnomalyDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Anomaly Detection - VMware"
      summary: "Update configuration of anomaly detection for VMware."
      description: ""
      operationId: "updateVMwareAnomalyDetectionConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/VMwareAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Configuration has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /anomalyDetection/vmware/validator:
    post:
      tags:
      - "Anomaly Detection - VMware"
      summary: "Validate configuration of anomaly detection for VMware (for PUT request)."
      description: ""
      operationId: "validateVMwareAnomalyDetectionConfig_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/VMwareAnomalyDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ doesn't have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/{id}:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "Get the web application configuration with the given id."
      description: ""
      operationId: "getConfiguration_2"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/WebApplicationConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "WebApplicationConfig"
      summary: "Store the configured web application configuration. If the payload\
        \ has the id property set, it must match the id in the URL."
      description: ""
      operationId: "createOrUpdateConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        200:
          description: "If the update is successful, the created web application configuration\
            \ is returned."
          schema:
            $ref: "#/definitions/WebApplicationConfig"
        201:
          description: "If the web application configuration with the given id doesn't\
            \ exist yet, it is created and returned."
          schema:
            $ref: "#/definitions/WebApplicationConfig"
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    delete:
      tags:
      - "WebApplicationConfig"
      summary: "Delete the web application configuration with the given id."
      description: ""
      operationId: "deleteConfiguration_1"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        204:
          description: "If the delete is successful, nothing is returned."
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "List all application configurations."
      description: ""
      operationId: "listConfigurations_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/WebApplicationConfigListDto"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Create a new web application configuration. The payload must not provide\
        \ an id as that will be automatically assigned."
      description: ""
      operationId: "createConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        201:
          description: "If the creation is successful, the id of the new custom application\
            \ configuration is returned."
          schema:
            $ref: "#/definitions/WebApplicationConfig"
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/validator/{id}:
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Validates new web application configuration for the `PUT /{id}` request."
      description: ""
      operationId: "validateConfiguration_3"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/validator:
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Validates new web application configuration for the `POST /` request."
      description: ""
      operationId: "validateConfiguration_2"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/{id}/dataPrivacy:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "Get the web application's data privacy settings."
      description: ""
      operationId: "getDataPrivacySettings_1"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApplicationDataPrivacy"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "WebApplicationConfig"
      summary: "Update the web application's data privacy settings."
      description: ""
      operationId: "updateDataPrivacySettings_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "If the update is successful, nothing is returned."
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/default:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "Get the default web application configuration."
      description: ""
      operationId: "getDefaultApplication_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/WebApplicationConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "WebApplicationConfig"
      summary: "Update the default web application configuration."
      description: ""
      operationId: "createOrUpdateDefaultConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "If the update is successful, nothing is returned."
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/default/validator:
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Validates new default web application configuration for the `PUT /default`\
        \ request."
      description: ""
      operationId: "validateDefaultConfiguration_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/WebApplicationConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/dataPrivacy:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "List all applications' data privacy settings."
      description: ""
      operationId: "listDataPrivacySettings_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApplicationDataPrivacyListDto"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
  /applications/web/default/dataPrivacy:
    get:
      tags:
      - "WebApplicationConfig"
      summary: "Get the default web application's data privacy settings."
      description: ""
      operationId: "getDefaultApplicationDataPrivacySettings_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApplicationDataPrivacy"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "WebApplicationConfig"
      summary: "Update the default web application's data privacy settings."
      description: ""
      operationId: "updateDefaultApplicationDataPrivacySettings_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "If the update is successful, nothing is returned."
        400:
          description: "If input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/{id}/dataPrivacy/validator:
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Validates new data privacy settings for the `PUT /{id}/dataPrivacy`\
        \ request."
      description: ""
      operationId: "validateDataPrivacySettings_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applications/web/default/dataPrivacy/validator:
    post:
      tags:
      - "WebApplicationConfig"
      summary: "Validates new data privacy settings for the `PUT /default/dataPrivacy`\
        \ request."
      description: ""
      operationId: "validateDefaultApplicationDataPrivacySettings_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applicationDetection:
    get:
      tags:
      - "ApplicationDetectionConfig"
      summary: "Lists all available application detection rules."
      description: ""
      operationId: "getConfiguration"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApplicationDetectionConfig"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "ApplicationDetectionConfig"
      summary: "Updates an application detection configuration."
      description: "All the application detection rules are stored in a single configuration.\
        \ When you want to edit a rule or create a new one, you have to put **all**\
        \ existing rules in the request body, otherwise you'll lose them. Execute\
        \ the `GET /applicationDetection` request to view the list of existing rules.\
        \ Then modify an existing rule or add a new one, and keep the rest of the\
        \ rules as they are.\n\n The order of rules is important. Dynatrace evaluates\
        \ rules from top to bottom. To add a new rule to the configuration, execute\
        \ the `GET /applicationDetection` request, and place the new rule in the required\
        \ position among the existing rules. \n\n Validate the configuration with\
        \ the `POST /validator` request before submitting it."
      operationId: "updateConfiguration"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Application detection rule is updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /applicationDetection/validator:
    post:
      tags:
      - "ApplicationDetectionConfig"
      summary: "Validates the application detection configuration for the `PUT /applicationDetection`\
        \ request."
      description: ""
      operationId: "validateConfiguration"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApplicationDetectionConfig"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted rule is valid. Response doesn't have\
            \ a body."
        400:
          description: "Failed. The submitted rule is invalid. See response body for\
            \ details."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /autoTags:
    get:
      tags:
      - "Automatically applied tags"
      summary: "Lists all configured auto tags."
      description: ""
      operationId: "getAllAutoTagConfigs_1"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AutoTagStubList"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    post:
      tags:
      - "Automatically applied tags"
      summary: "Creates a new auto tag."
      description: "The body must not provide an ID as IDs are automatically assigned."
      operationId: "createAutoTag_1"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AutoTag"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. The auto tag has been created. The ID of the new\
            \ configuration is returned."
          schema:
            $ref: "#/definitions/AutoTagStub"
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /autoTags/{id}:
    get:
      tags:
      - "Automatically applied tags"
      summary: "Shows the config properties of the specified auto tag."
      description: ""
      operationId: "getSingleAutoTagConfig_1"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the required auto tag."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - name: "includeProcessGroupReferences"
        in: "query"
        description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. When\
          \ this flag is set to false, conditions with process group references will\
          \ be removed. If that leads to a rule having no conditions, the entire rule\
          \ will be removed."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeProcessGroupReferences"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AutoTag"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "Automatically applied tags"
      summary: "Updates an existing auto tag."
      description: ""
      operationId: "createOrUpdateAutoTag_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the auto tag to be updated.\n\n If you set the ID\
          \ in the body as well, it must match this ID."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AutoTag"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. The auto tag with the specified ID has been created.\
            \ Response doesn't have a body."
        204:
          description: "Success. The auto tag has been updated. Response doesn't have\
            \ a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    delete:
      tags:
      - "Automatically applied tags"
      summary: "Deletes the specified auto tag."
      description: ""
      operationId: "deleteAutoTag_1"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the auto tag to be deleted."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      responses:
        204:
          description: "Deleted. Response does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /autoTags/validator:
    post:
      tags:
      - "Automatically applied tags"
      summary: "Validates new auto tags for the `POST /autoTags` request."
      description: ""
      operationId: "validateAutoTag_2"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AutoTag"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /autoTags/validator/{id}:
    post:
      tags:
      - "Automatically applied tags"
      summary: "Validate updates of existing auto tags for the `PUT /autoTags/{id}`\
        \ request."
      description: ""
      operationId: "validateAutoTag_1"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the auto tag to be validated."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AutoTag"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /customServices/{technology}/{id}:
    get:
      tags:
      - "CustomServices"
      summary: "Gets the definition of the specified custom service"
      description: ""
      operationId: "getItem"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the custom service you're inquiring."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - name: "id"
        in: "path"
        description: "The ID of the custom service you're inquiring."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - name: "includeProcessGroupReferences"
        in: "query"
        description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. \n\n\
          `false` is used if the value is not set."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeProcessGroupReferences"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomService"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "CustomServices"
      summary: "Updates the specified custom service."
      description: ""
      operationId: "putItem"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the custom service to update."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - name: "id"
        in: "path"
        description: "The ID of the custom service to update.\n\n The ID of the custom\
          \ service in the body of the request must match this ID."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        description: "JSON body of the request containing updated definition of the\
          \ custom service."
        required: false
        schema:
          $ref: "#/definitions/CustomService"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Custom service has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    delete:
      tags:
      - "CustomServices"
      summary: "Deletes the specified custom service"
      description: ""
      operationId: "delete"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the custom service to delete."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - name: "id"
        in: "path"
        description: "The ID of the custom service to delete."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      responses:
        204:
          description: "Deleted. Response does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /customServices/{technology}:
    get:
      tags:
      - "CustomServices"
      summary: "Lists all custom services of the specified technology along with their\
        \ definitions"
      description: ""
      operationId: "getList"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the required custom services."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - name: "includeProcessGroupReferences"
        in: "query"
        description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. \n\n\
          `false` is used if the value is not set."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeProcessGroupReferences"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomServiceList"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    post:
      tags:
      - "CustomServices"
      summary: "Creates a custom service"
      description: "In the body of the request, neither custom service nor its rules\
        \ can have the ID. All IDs will be generated automatically by Dynatrace."
      operationId: "post"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the new custom service."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - in: "body"
        name: "body"
        description: "JSON body of the request containing definition of the new custom\
          \ service. \n\nYou must not specify the IDs for the custom service or any\
          \ of its rules."
        required: false
        schema:
          $ref: "#/definitions/CustomService"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. The custom service has been created. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "CustomServices"
      summary: "Updates all custom services of the specified technology"
      description: "This request affects **all** the custom services of the specified\
        \ technology. If a custom service is not presented in the body of the request,\
        \ it will be deleted."
      operationId: "putList"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of custom services to update."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - in: "body"
        name: "body"
        description: "JSON body of the request containing updated definitions of custom\
          \ services."
        required: false
        schema:
          $ref: "#/definitions/CustomServiceList"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. Custom services have been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /customServices/{technology}/validator:
    post:
      tags:
      - "CustomServices"
      summary: "Validate the new custom service for the `POST /customServices/{technology}`\
        \ request"
      description: ""
      operationId: "validateItem"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the custom service to validate."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - in: "body"
        name: "body"
        description: "JSON body of the request containing definition of the custom\
          \ service to validate."
        required: false
        schema:
          $ref: "#/definitions/CustomService"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "CustomServices"
      summary: "Validates custom services for the `PUT /customServices/` request."
      description: ""
      operationId: "validateList"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "technology"
        in: "path"
        description: "Technology of the custom services to validate."
        required: true
        type: "string"
        enum:
        - "java"
        - "dotNet"
        - "php"
        x-exportParamName: "Technology"
      - in: "body"
        name: "body"
        description: "JSON body of the request containing definitions of the custom\
          \ services to validate. \n\nIt must contain definitions of **all** custom\
          \ services of the required technology."
        required: false
        schema:
          $ref: "#/definitions/CustomServiceList"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /dataPrivacy/validator:
    post:
      tags:
      - "DataPrivacy"
      summary: "Validates new data privacy settings for the `PUT /dataPrivacy` request."
      description: ""
      operationId: "validateConfiguration_4"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid. See the response body for details."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /dataPrivacy:
    get:
      tags:
      - "DataPrivacy"
      summary: "Lists the global data privacy settings."
      description: ""
      operationId: "getDataPrivacySettings_2"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DataPrivacy"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "DataPrivacy"
      summary: "Updates the global data privacy settings."
      description: "This request updates global settings, affecting all your applications.\
        \ To update application-specific data privacy settings, use the `PUT /applications/web/{id}/dataPrivacy`\
        \ request."
      operationId: "updateDataPrivacySettings_2"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DataPrivacy"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Success. The configuration is updated. Response does not have\
            \ a body."
        400:
          description: "Failed. The input is invalid. See the response body for details."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - WriteConfigToken: []
      x-early-access: "true"
  /requestAttributes/{id}:
    get:
      tags:
      - "RequestAttributes"
      summary: "Shows the properties of the specified request attribute."
      description: ""
      operationId: "getConfiguration_3"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the required request attribute."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - name: "includeProcessGroupReferences"
        in: "query"
        description: "Flag to include process group references to the response. \n\
          \n Process Group group references aren't compatible across environments."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeProcessGroupReferences"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/RequestAttribute"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    put:
      tags:
      - "RequestAttributes"
      summary: "Updates an existing request attribute."
      description: ""
      operationId: "createOrUpdateConfiguration_2"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the request attribute to be updated.\n\n If you set\
          \ the ID in the body as well, it must match this ID."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/RequestAttribute"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. The request attribute with the specified ID has been\
            \ created. Response doesn't have a body."
        204:
          description: "Success. Request attribute has been updated. Response doesn't\
            \ have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - CaptureRequestDataToken: []
      x-early-access: "true"
    delete:
      tags:
      - "RequestAttributes"
      summary: "Deletes the specified request attribute."
      description: ""
      operationId: "deleteConfiguration_2"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the request attribute to be deleted."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      responses:
        204:
          description: "Deleted. Response does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - CaptureRequestDataToken: []
      x-early-access: "true"
  /requestAttributes:
    get:
      tags:
      - "RequestAttributes"
      summary: "Lists all available request attributes."
      description: ""
      operationId: "listConfigurations_2"
      produces:
      - "application/json; charset=utf-8"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/RequestAttributeStubListDto"
      security:
      - ReadConfigToken: []
      x-early-access: "true"
    post:
      tags:
      - "RequestAttributes"
      summary: "Creates a new request attribute."
      description: "The body must not provide an ID as IDs are automatically assigned."
      operationId: "createConfiguration_2"
      consumes:
      - "application/json; charset=utf-8"
      produces:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/RequestAttribute"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Success. Request attribute has been created. The ID of the\
            \ new configuration is returned."
          schema:
            $ref: "#/definitions/RequestAttributeStub"
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - CaptureRequestDataToken: []
      x-early-access: "true"
  /requestAttributes/validator:
    post:
      tags:
      - "RequestAttributes"
      summary: "Validates new request attributes for the `POST /requestAttributes`\
        \ request."
      description: ""
      operationId: "validateConfiguration_6"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/RequestAttribute"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - CaptureRequestDataToken: []
      x-early-access: "true"
  /requestAttributes/validator/{id}:
    post:
      tags:
      - "RequestAttributes"
      summary: "Validate updates of existing request attribute for the `PUT /requestAttributes/{id}`\
        \ request."
      description: ""
      operationId: "validateConfiguration_5"
      consumes:
      - "application/json; charset=utf-8"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the request attribute to be validated."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/RequestAttribute"
        x-exportParamName: "Body"
      responses:
        204:
          description: "Validated. The submitted configuration is valid. Response\
            \ does not have a body."
        400:
          description: "Failed. The input is invalid."
          schema:
            $ref: "#/definitions/ErrorEnvelope"
      security:
      - CaptureRequestDataToken: []
      x-early-access: "true"
securityDefinitions:
  ReadConfigToken:
    description: "API token with **Read configuation** permission."
    type: "apiKey"
    name: "Api-Token"
    in: "query"
  WriteConfigToken:
    description: "API token with **Write configuation** permission."
    type: "apiKey"
    name: "Api-Token"
    in: "query"
  CaptureRequestDataToken:
    description: "API token with **Capture request data** permission."
    type: "apiKey"
    name: "Api-Token"
    in: "query"
  DataPrivacy:
    description: "API token with **DataPrivacy** permission."
    type: "apiKey"
    name: "Api-Token"
    in: "query"
definitions:
  ConstraintViolation:
    type: "object"
    properties:
      path:
        type: "string"
        readOnly: true
      message:
        type: "string"
        readOnly: true
      parameterLocation:
        type: "string"
        readOnly: true
        enum:
        - "PATH"
        - "QUERY"
        - "PAYLOAD_BODY"
      location:
        type: "string"
        readOnly: true
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
        readOnly: true
      message:
        type: "string"
        readOnly: true
      constraintViolations:
        type: "array"
        items:
          $ref: "#/definitions/ConstraintViolation"
  ErrorEnvelope:
    type: "object"
    properties:
      error:
        $ref: "#/definitions/Error"
  AwsAnomalyDetectionConfig:
    type: "object"
    required:
    - "elbHighConnectionErrorsDetection"
    - "lambdaHighErrorRateDetection"
    - "rdsHighCpuDetection"
    - "rdsHighMemoryDetection"
    - "rdsHighWriteReadLatencyDetection"
    - "rdsLowStorageDetection"
    - "rdsRestartsSequenceDetection"
    properties:
      metadata:
        description: "Metadata useful for debugging."
        $ref: "#/definitions/ConfigurationMetadata"
      rdsHighCpuDetection:
        description: "Configuration of high CPU utilization detection on RDS"
        $ref: "#/definitions/RdsHighCpuDetectionConfig"
      rdsHighWriteReadLatencyDetection:
        description: "Configuration of high write and/or read latency detection on\
          \ RDS"
        $ref: "#/definitions/RdsHighWriteReadLatencyDetectionConfig"
      rdsLowStorageDetection:
        description: "Configuration of low free storage space detection on RDS"
        $ref: "#/definitions/RdsLowStorageDetectionConfig"
      rdsHighMemoryDetection:
        description: "Configuration of high memory usage detection on RDS"
        $ref: "#/definitions/RdsHighMemoryDetectionConfig"
      elbHighConnectionErrorsDetection:
        description: "Configuration of high number of backend connection errors detection\
          \ on ELB"
        $ref: "#/definitions/ElbHighConnectionErrorsDetectionConfig"
      rdsRestartsSequenceDetection:
        description: "Configuration of restarts sequence detection on RDS"
        $ref: "#/definitions/RdsRestartsSequenceDetectionConfig"
      lambdaHighErrorRateDetection:
        description: "Configuration of high error rate detection on Lambda service"
        $ref: "#/definitions/LambdaHighErrorRateDetectionConfig"
    description: "Configuration of anomaly detection for AWS"
    example:
      elbHighConnectionErrorsDetection:
        customThresholds:
          connectionErrorsPerMinute: 70
        enabled: true
      metadata:
        configurationVersions:
        - 0
        - 0
        clusterVersion: "clusterVersion"
      rdsHighMemoryDetection:
        customThresholds:
          swapUsage: 230.221286557589593257944216020405292510986328125
          freeMemory: 563.7420282866761453988146968185901641845703125
        enabled: true
      rdsLowStorageDetection:
        customThresholds:
          freeStoragePercentage: 60
        enabled: true
      rdsRestartsSequenceDetection:
        customThresholds:
          restartsPerMinute: 93
        enabled: true
      lambdaHighErrorRateDetection:
        customThresholds:
          failedInvocationsRate: 36
        enabled: true
      rdsHighWriteReadLatencyDetection:
        customThresholds:
          writeReadLatency: 1466
        enabled: true
      rdsHighCpuDetection:
        customThresholds:
          cpuUsagePercentage: 60
        enabled: true
  ConfigurationMetadata:
    type: "object"
    properties:
      clusterVersion:
        type: "string"
        description: "Dynatrace server version."
      configurationVersions:
        type: "array"
        description: "Sorted list containing the version numbers of the configuration."
        items:
          type: "integer"
          format: "int64"
    description: "Metadata useful for debugging"
    example:
      configurationVersions:
      - 0
      - 0
      clusterVersion: "clusterVersion"
  ElbHighConnectionErrorsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high number of backend connection errors\
          \ detection on ELB. If not present (null) then default thresholds will be\
          \ used."
        $ref: "#/definitions/ElbHighConnectionErrorsThresholds"
    description: "Configuration of high number of backend connection errors detection\
      \ on ELB"
    example:
      customThresholds:
        connectionErrorsPerMinute: 70
      enabled: true
  ElbHighConnectionErrorsThresholds:
    type: "object"
    required:
    - "connectionErrorsPerMinute"
    properties:
      connectionErrorsPerMinute:
        type: "integer"
        format: "int32"
        description: "Detect high number of connection errors when number of backend\
          \ connection errors is higher than N per minute in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high number of backend connection errors detection\
      \ on ELB. If not present (null) then default thresholds will be used."
    example:
      connectionErrorsPerMinute: 70
  LambdaHighErrorRateDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high error rate detection on Lambda service.\
          \ If not present (null) then default thresholds will be used."
        $ref: "#/definitions/LambdaHighErrorRateThresholds"
    description: "Configuration of high error rate detection on Lambda service"
    example:
      customThresholds:
        failedInvocationsRate: 36
      enabled: true
  LambdaHighErrorRateThresholds:
    type: "object"
    required:
    - "failedInvocationsRate"
    properties:
      failedInvocationsRate:
        type: "integer"
        format: "int32"
        description: "Detect high error rate when failed invocations rate is higher\
          \ than N percent in 3 out of 5 samples."
        minimum: 0
        maximum: 100
    description: "Custom thresholds for high error rate detection on Lambda service.\
      \ If not present (null) then default thresholds will be used."
    example:
      failedInvocationsRate: 36
  RdsHighCpuDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high CPU utilization detection on RDS.\
          \ If not present (null) then default thresholds will be used."
        $ref: "#/definitions/RdsHighCpuThresholds"
    description: "Configuration of high CPU utilization detection on RDS"
    example:
      customThresholds:
        cpuUsagePercentage: 60
      enabled: true
  RdsHighCpuThresholds:
    type: "object"
    required:
    - "cpuUsagePercentage"
    properties:
      cpuUsagePercentage:
        type: "integer"
        format: "int32"
        description: "Detect high CPU utilization when CPU usage is higher than N\
          \ percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high CPU utilization detection on RDS. If\
      \ not present (null) then default thresholds will be used."
    example:
      cpuUsagePercentage: 60
  RdsHighLatencyThresholds:
    type: "object"
    required:
    - "writeReadLatency"
    properties:
      writeReadLatency:
        type: "integer"
        format: "int32"
        description: "Detect high latency when write and/or read latency is higher\
          \ than N milliseconds in 3 out of 5 samples."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for high write and/or read latency detection on\
      \ RDS. If not present (null) then default thresholds will be used."
    example:
      writeReadLatency: 1466
  RdsHighMemoryDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high memory usage detection on RDS. If\
          \ not present (null) then default thresholds will be used."
        $ref: "#/definitions/RdsHighMemoryThresholds"
    description: "Configuration of high memory usage detection on RDS"
    example:
      customThresholds:
        swapUsage: 230.221286557589593257944216020405292510986328125
        freeMemory: 563.7420282866761453988146968185901641845703125
      enabled: true
  RdsHighMemoryThresholds:
    type: "object"
    required:
    - "freeMemory"
    - "swapUsage"
    properties:
      freeMemory:
        type: "number"
        description: "Detect high memory usage only when free memory is lower than\
          \ N Megabytes in 3 out of 5 samples."
        minimum: 0.01
        maximum: 1000
        exclusiveMinimum: false
      swapUsage:
        type: "number"
        description: "Detect high memory usage only when swap usage is higher than\
          \ N Gigabytes in 3 out of 5 samples."
        minimum: 0.01
        maximum: 1000
        exclusiveMinimum: false
    description: "Custom thresholds for high memory usage detection on RDS. If not\
      \ present (null) then default thresholds will be used."
    example:
      swapUsage: 230.221286557589593257944216020405292510986328125
      freeMemory: 563.7420282866761453988146968185901641845703125
  RdsHighWriteReadLatencyDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high write and/or read latency detection\
          \ on RDS. If not present (null) then default thresholds will be used."
        $ref: "#/definitions/RdsHighLatencyThresholds"
    description: "Configuration of high write and/or read latency detection on RDS"
    example:
      customThresholds:
        writeReadLatency: 1466
      enabled: true
  RdsLowStorageDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for low free storage space detection on RDS.\
          \ If not present (null) then default thresholds will be used."
        $ref: "#/definitions/RdsLowStorageThresholds"
    description: "Configuration of low free storage space detection on RDS"
    example:
      customThresholds:
        freeStoragePercentage: 60
      enabled: true
  RdsLowStorageThresholds:
    type: "object"
    required:
    - "freeStoragePercentage"
    properties:
      freeStoragePercentage:
        type: "integer"
        format: "int32"
        description: "Detect low storage when free storage space divided by allocated\
          \ storage is lower than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for low free storage space detection on RDS. If\
      \ not present (null) then default thresholds will be used."
    example:
      freeStoragePercentage: 60
  RdsRestartsSequenceDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for restarts sequence detection on RDS. If\
          \ not present (null) then default thresholds will be used."
        $ref: "#/definitions/RdsRestartsThresholds"
    description: "Configuration of restarts sequence detection on RDS"
    example:
      customThresholds:
        restartsPerMinute: 93
      enabled: true
  RdsRestartsThresholds:
    type: "object"
    required:
    - "restartsPerMinute"
    properties:
      restartsPerMinute:
        type: "integer"
        format: "int32"
        description: "Detect restarts sequence when number of restarts N per minute\
          \ or higher in 3 out of 20 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for restarts sequence detection on RDS. If not\
      \ present (null) then default thresholds will be used."
    example:
      restartsPerMinute: 93
  DiskEventAnomalyDetectionConfigList:
    type: "object"
    properties:
      values:
        type: "array"
        items:
          $ref: "#/definitions/DiskEventAnomalyDetectionConfigStub"
    example:
      values:
      - name: "name"
        id: "id"
      - name: "name"
        id: "id"
  DiskEventAnomalyDetectionConfigStub:
    type: "object"
    properties:
      id:
        type: "string"
        description: "The ID of the disk event."
      name:
        type: "string"
        description: "The name of the disk event."
    example:
      name: "name"
      id: "id"
  DiskEventAnomalyDetectionConfig:
    type: "object"
    required:
    - "enabled"
    - "metric"
    - "name"
    - "samples"
    - "threshold"
    - "violatingSamples"
    properties:
      metadata:
        description: "Metadata useful for debugging."
        $ref: "#/definitions/ConfigurationMetadata"
      id:
        type: "string"
        description: "The ID of the disk event."
        readOnly: true
      name:
        type: "string"
        description: "The name of the disk event."
        minLength: 1
        maxLength: 49
      enabled:
        type: "boolean"
        description: "Whether the disk event is enabled."
      metric:
        type: "string"
        description: "The metric to monitor."
        enum:
        - "LOW_DISK_SPACE"
        - "LOW_INODES"
        - "READ_TIME_EXCEEDING"
        - "WRITE_TIME_EXCEEDING"
      threshold:
        type: "number"
        format: "double"
        description: "The event threshold. If the metric is `LowDiskSpace` or `LowInodes`,\
          \ this is a percentage. For `ReadTimeExceeding` or `WriteTimeExceeding`,\
          \ milliseconds."
        minimum: 0
      violatingSamples:
        type: "integer"
        format: "int32"
        description: "The minimum number of violating samples for an event to be triggered.\
          \ Must not exceed `samples`."
        minimum: 1
        maximum: 20
      samples:
        type: "integer"
        format: "int32"
        description: "The number of samples that are inspected."
        minimum: 1
        maximum: 20
      diskNameFilter:
        description: "Only apply this rule to disks matching the given name."
        $ref: "#/definitions/DiskNameFilterDto"
      tagFilters:
        type: "array"
        description: "Only apply this rule to hosts having these tags."
        items:
          $ref: "#/definitions/TagFilterDto"
    example:
      metadata:
        configurationVersions:
        - 0
        - 0
        clusterVersion: "clusterVersion"
      metric: "LOW_DISK_SPACE"
      violatingSamples: 12
      diskNameFilter:
        value: "value"
        operator: "CONTAINS"
      tagFilters:
      - context: "CONTEXTLESS"
        value: "value"
        key: "key"
      - context: "CONTEXTLESS"
        value: "value"
        key: "key"
      name: "name"
      threshold: 0.08008281904610115
      id: "id"
      enabled: true
      samples: 3
  DiskNameFilterDto:
    type: "object"
    required:
    - "operator"
    - "value"
    properties:
      operator:
        type: "string"
        description: "Comparison operator."
        enum:
        - "CONTAINS"
        - "DOES_NOT_CONTAIN"
        - "STARTS_WITH"
        - "DOES_NOT_START_WITH"
        - "EQUALS"
        - "DOES_NOT_EQUAL"
      value:
        type: "string"
        description: "Value to match."
        minLength: 1
        maxLength: 21845
    example:
      value: "value"
      operator: "CONTAINS"
  TagFilterDto:
    type: "object"
    required:
    - "key"
    properties:
      context:
        type: "string"
        description: "The tag context."
        enum:
        - "CONTEXTLESS"
        - "AWS"
        - "ENVIRONMENT"
        - "CLOUD_FOUNDRY"
        - "KUBERNETES"
        - "GOOGLE_CLOUD"
      key:
        type: "string"
        description: "The tag key."
        minLength: 1
        maxLength: 2000
      value:
        type: "string"
        description: "The tag value."
        minLength: 1
        maxLength: 2000
    example:
      context: "CONTEXTLESS"
      value: "value"
      key: "key"
  ConnectionLostDetectionConfig:
    type: "object"
    required:
    - "enabled"
    - "enabledOnGracefulShutdowns"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      enabledOnGracefulShutdowns:
        type: "boolean"
        description: "Is detection enabled during graceful host shutdowns."
    description: "Configuration of lost connection detection"
    example:
      enabledOnGracefulShutdowns: true
      enabled: true
  DiskLowInodesDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for low disk inodes number detection. If not\
          \ present (null) then default thresholds will be used."
        $ref: "#/definitions/DiskLowInodesThresholds"
    description: "Configuration of low disk inodes number detection"
    example:
      customThresholds:
        freeInodesPercentage: 50
      enabled: true
  DiskLowInodesThresholds:
    type: "object"
    required:
    - "freeInodesPercentage"
    properties:
      freeInodesPercentage:
        type: "integer"
        format: "int32"
        description: "Detect low disk inodes when if percent of available inodes is\
          \ lower than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for low disk inodes number detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      freeInodesPercentage: 50
  DiskLowSpaceDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for low disk space detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/DiskLowSpaceThresholds"
    description: "Configuration of low disk space detection"
    example:
      customThresholds:
        writeAndReadTime: 4965
      enabled: true
  DiskLowSpaceThresholds:
    type: "object"
    required:
    - "writeAndReadTime"
    properties:
      writeAndReadTime:
        type: "integer"
        format: "int32"
        description: "Detect slow disk writes and reads when ead time and write time\
          \ is higher than N milliseconds."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for slow disk writes and reads detection. If not\
      \ present (null) then default thresholds will be used."
    example:
      writeAndReadTime: 4965
  DiskSlowWritesAndReadsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for lslow disk writes and reads detection.\
          \ If not present (null) then default thresholds will be used."
        $ref: "#/definitions/DiskLowSpaceThresholds"
    description: "Configuration of slow disk writes and reads detection"
    example:
      customThresholds:
        writeAndReadTime: 4965
      enabled: true
  HighCpuSaturationDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high CPU saturation detection. If not\
          \ present (null) then default thresholds will be used."
        $ref: "#/definitions/HighCpuSaturationThresholds"
    description: "Configuration of high CPU saturation detection"
    example:
      customThresholds:
        cpuSaturation: 8
      enabled: true
  HighCpuSaturationThresholds:
    type: "object"
    required:
    - "cpuSaturation"
    properties:
      cpuSaturation:
        type: "integer"
        format: "int32"
        description: "Detect high CPU saturation when CPU usage is higher than N percent\
          \ in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high CPU saturation detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      cpuSaturation: 8
  HighGcActivityDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high GC activity detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/HighGcActivityThresholds"
    description: "Configuration of high Garbage Collector activity detection"
    example:
      customThresholds:
        gcSuspensionPercentage: 70
        gcTimePercentage: 23
      enabled: true
  HighGcActivityThresholds:
    type: "object"
    required:
    - "gcSuspensionPercentage"
    - "gcTimePercentage"
    properties:
      gcTimePercentage:
        type: "integer"
        format: "int32"
        description: "Detect high Garbage Collector activity always when GC time is\
          \ higher than N percent."
        minimum: 1
        maximum: 100
      gcSuspensionPercentage:
        type: "integer"
        format: "int32"
        description: "Detect high Garbage Collector activity always when GC suspension\
          \ is higher than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high GC activity detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      gcSuspensionPercentage: 70
      gcTimePercentage: 23
  HighMemoryDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high memory use detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/HighMemoryThresholds"
    description: "Configuration of high memory usage detection"
    example:
      customThresholds:
        pageFaultsPerSecondWindows: 6027
        usedMemoryPercentageNonWindows: 56
        pageFaultsPerSecondNonWindows: 5962
        usedMemoryPercentageWindows: 15
      enabled: true
  HighMemoryThresholds:
    type: "object"
    required:
    - "pageFaultsPerSecondNonWindows"
    - "pageFaultsPerSecondWindows"
    - "usedMemoryPercentageNonWindows"
    - "usedMemoryPercentageWindows"
    properties:
      pageFaultsPerSecondWindows:
        type: "integer"
        format: "int32"
        description: "Detect high memory usage only when memory page fault rate is\
          \ higher than N faults/second (Windows systems)."
        minimum: 1
        maximum: 10000
      usedMemoryPercentageWindows:
        type: "integer"
        format: "int32"
        description: "Detect high memory usage only when memory usage is higher than\
          \ N percent (Windows systems)."
        minimum: 1
        maximum: 100
      pageFaultsPerSecondNonWindows:
        type: "integer"
        format: "int32"
        description: "Detect high memory usage only when memory page fault rate is\
          \ higher than N faults/second (Non-Windows systems)."
        minimum: 1
        maximum: 10000
      usedMemoryPercentageNonWindows:
        type: "integer"
        format: "int32"
        description: "Detect high memory usage only when memory usage is higher than\
          \ N percent (Non-Windows systems)."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high memory use detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      pageFaultsPerSecondWindows: 6027
      usedMemoryPercentageNonWindows: 56
      pageFaultsPerSecondNonWindows: 5962
      usedMemoryPercentageWindows: 15
  HighNetworkDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high network utilization detection. If\
          \ not present (null) then default thresholds will be used."
        $ref: "#/definitions/HighNetworkThresholds"
    description: "Configuration of high network utilization detection"
    example:
      customThresholds:
        utilizationPercentage: 11
      enabled: true
  HighNetworkThresholds:
    type: "object"
    required:
    - "utilizationPercentage"
    properties:
      utilizationPercentage:
        type: "integer"
        format: "int32"
        description: "Detect high network utilization when receive/transmit traffic\
          \ utilization is higher than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for high network utilization detection. If not\
      \ present (null) then default thresholds will be used."
    example:
      utilizationPercentage: 11
  HostsAnomalyDetectionConfig:
    type: "object"
    required:
    - "connectionLostDetection"
    - "diskLowInodesDetection"
    - "diskLowSpaceDetection"
    - "diskSlowWritesAndReadsDetection"
    - "highCpuSaturationDetection"
    - "highGcActivityDetection"
    - "highMemoryDetection"
    - "highNetworkDetection"
    - "networkDroppedPacketsDetection"
    - "networkErrorsDetection"
    - "networkHighRetransmissionDetection"
    - "networkTcpProblemsDetection"
    - "outOfMemoryDetection"
    - "outOfThreadsDetection"
    properties:
      metadata:
        description: "Metadata useful for debugging."
        $ref: "#/definitions/ConfigurationMetadata"
      connectionLostDetection:
        description: "Configuration of lost connection detection"
        $ref: "#/definitions/ConnectionLostDetectionConfig"
      highCpuSaturationDetection:
        description: "Configuration of high CPU saturation detection"
        $ref: "#/definitions/HighCpuSaturationDetectionConfig"
      highMemoryDetection:
        description: "Configuration of high memory usage detection"
        $ref: "#/definitions/HighMemoryDetectionConfig"
      highGcActivityDetection:
        description: "Configuration of high Garbage Collector activity detection"
        $ref: "#/definitions/HighGcActivityDetectionConfig"
      outOfMemoryDetection:
        description: "Configuration of Java out-of-memory problems detection"
        $ref: "#/definitions/OutOfMemoryDetectionConfig"
      outOfThreadsDetection:
        description: "Configuration of Java out-of-threads problems detection"
        $ref: "#/definitions/OutOfThreadsDetectionConfig"
      networkDroppedPacketsDetection:
        description: "Configuration of high number of dropped packets detection"
        $ref: "#/definitions/NetworkDroppedPacketsDetectionConfig"
      networkErrorsDetection:
        description: "Configuration of high number of dropped packets detection"
        $ref: "#/definitions/NetworkErrorsDetectionConfig"
      highNetworkDetection:
        description: "Configuration of high network utilization detection"
        $ref: "#/definitions/HighNetworkDetectionConfig"
      networkTcpProblemsDetection:
        description: "Configuration of TCP connection problems detection"
        $ref: "#/definitions/NetworkTcpProblemsDetectionConfig"
      networkHighRetransmissionDetection:
        description: "Configuration of high retransmission rate detection"
        $ref: "#/definitions/NetworkHighRetransmissionDetectionConfig"
      diskLowSpaceDetection:
        description: "Configuration of low disk space detection"
        $ref: "#/definitions/DiskLowSpaceDetectionConfig"
      diskSlowWritesAndReadsDetection:
        description: "Configuration of slow disk writes and reads detection"
        $ref: "#/definitions/DiskSlowWritesAndReadsDetectionConfig"
      diskLowInodesDetection:
        description: "Configuration of low disk inodes number detection"
        $ref: "#/definitions/DiskLowInodesDetectionConfig"
    description: "Configuration of anomaly detection for hosts"
    example:
      metadata:
        configurationVersions:
        - 0
        - 0
        clusterVersion: "clusterVersion"
      outOfThreadsDetection:
        customThresholds:
          outOfThreadsExceptionsNumber: 36
        enabled: true
      networkErrorsDetection:
        customThresholds:
          totalPacketsRate: 1232
          errorsPercentage: 74
        enabled: true
      diskLowSpaceDetection:
        customThresholds:
          writeAndReadTime: 4965
        enabled: true
      diskLowInodesDetection:
        customThresholds:
          freeInodesPercentage: 50
        enabled: true
      highGcActivityDetection:
        customThresholds:
          gcSuspensionPercentage: 70
          gcTimePercentage: 23
        enabled: true
      highNetworkDetection:
        customThresholds:
          utilizationPercentage: 11
        enabled: true
      diskSlowWritesAndReadsDetection:
        customThresholds:
          writeAndReadTime: 4965
        enabled: true
      networkDroppedPacketsDetection:
        customThresholds:
          totalPacketsRate: 4146
          droppedPacketsPercentage: 21
        enabled: true
      connectionLostDetection:
        enabledOnGracefulShutdowns: true
        enabled: true
      networkTcpProblemsDetection:
        customThresholds:
          newConnectionFailuresPercentage: 15
          failedConnectionsNumberPerMinute: 6847
        enabled: true
      outOfMemoryDetection:
        customThresholds:
          outOfMemoryExceptionsNumber: 93
        enabled: true
      highCpuSaturationDetection:
        customThresholds:
          cpuSaturation: 8
        enabled: true
      highMemoryDetection:
        customThresholds:
          pageFaultsPerSecondWindows: 6027
          usedMemoryPercentageNonWindows: 56
          pageFaultsPerSecondNonWindows: 5962
          usedMemoryPercentageWindows: 15
        enabled: true
      networkHighRetransmissionDetection:
        customThresholds:
          retransmittedPacketsNumberPerMinute: 1173
          retransmissionRatePercentage: 74
        enabled: true
  NetworkDroppedPacketsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for dropped packets detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/NetworkDroppedPacketsThresholds"
    description: "Configuration of high number of dropped packets detection"
    example:
      customThresholds:
        totalPacketsRate: 4146
        droppedPacketsPercentage: 21
      enabled: true
  NetworkDroppedPacketsThresholds:
    type: "object"
    required:
    - "droppedPacketsPercentage"
    - "totalPacketsRate"
    properties:
      droppedPacketsPercentage:
        type: "integer"
        format: "int32"
        description: "Detect high dropped packets number only when receive/transmit\
          \ dropped packet percentage is higher than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
      totalPacketsRate:
        type: "integer"
        format: "int32"
        description: "Detect high dropped packets number only when receive/transmit\
          \ total packets rate is higher than N packets/s in 3 out of 5 samples."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for dropped packets detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      totalPacketsRate: 4146
      droppedPacketsPercentage: 21
  NetworkErrorsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for network errors detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/NetworkErrorsThresholds"
    description: "Configuration of high number of network errors detection"
    example:
      customThresholds:
        totalPacketsRate: 1232
        errorsPercentage: 74
      enabled: true
  NetworkErrorsThresholds:
    type: "object"
    required:
    - "errorsPercentage"
    - "totalPacketsRate"
    properties:
      errorsPercentage:
        type: "integer"
        format: "int32"
        description: "Detect high network errors number only when receive/transmit\
          \ error packet percentage is higher than N percent in 3 out of 5 samples."
        minimum: 1
        maximum: 100
      totalPacketsRate:
        type: "integer"
        format: "int32"
        description: "Detect high network errors number only when receive/transmit\
          \ total packets rate is higher than N packets/s in 3 out of 5 samples."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for network errors detection. If not present (null)\
      \ then default thresholds will be used."
    example:
      totalPacketsRate: 1232
      errorsPercentage: 74
  NetworkHighRetransmissionDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for high retransmission rate detection. If\
          \ not present (null) then default thresholds will be used."
        $ref: "#/definitions/NetworkHighRetransmissionThresholds"
    description: "Configuration of high retransmission rate detection"
    example:
      customThresholds:
        retransmittedPacketsNumberPerMinute: 1173
        retransmissionRatePercentage: 74
      enabled: true
  NetworkHighRetransmissionThresholds:
    type: "object"
    required:
    - "retransmissionRatePercentage"
    - "retransmittedPacketsNumberPerMinute"
    properties:
      retransmissionRatePercentage:
        type: "integer"
        format: "int32"
        description: "Detect high retransmission only when retransmission rate is\
          \ higher than N percent."
        minimum: 1
        maximum: 100
      retransmittedPacketsNumberPerMinute:
        type: "integer"
        format: "int32"
        description: "Detect high retransmission only when number of retransmitted\
          \ packets is higher than N packets/min in 3 out of 5 samples."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for high retransmission rate detection. If not\
      \ present (null) then default thresholds will be used."
    example:
      retransmittedPacketsNumberPerMinute: 1173
      retransmissionRatePercentage: 74
  NetworkTcpProblemsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for TCP connection problems detection. If\
          \ not present (null) then default thresholds will be used."
        $ref: "#/definitions/NetworkTcpProblemsThresholds"
    description: "Configuration of TCP connection problems detection"
    example:
      customThresholds:
        newConnectionFailuresPercentage: 15
        failedConnectionsNumberPerMinute: 6847
      enabled: true
  NetworkTcpProblemsThresholds:
    type: "object"
    required:
    - "failedConnectionsNumberPerMinute"
    - "newConnectionFailuresPercentage"
    properties:
      newConnectionFailuresPercentage:
        type: "integer"
        format: "int32"
        description: "Detect TCP connection problems only when percentage of new connection\
          \ failures is higher than N percent."
        minimum: 1
        maximum: 100
      failedConnectionsNumberPerMinute:
        type: "integer"
        format: "int32"
        description: "Detect TCP connection problems only when number of failed connections\
          \ is higher than N connections/min in 3 out of 5 samples."
        minimum: 1
        maximum: 10000
    description: "Custom thresholds for TCP connection problems detection. If not\
      \ present (null) then default thresholds will be used."
    example:
      newConnectionFailuresPercentage: 15
      failedConnectionsNumberPerMinute: 6847
  OutOfMemoryDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for Java out-of-memory detection. If not present\
          \ (null) then default thresholds will be used."
        $ref: "#/definitions/OutOfMemoryThresholds"
    description: "Configuration of Java out-of-memory problems detection"
    example:
      customThresholds:
        outOfMemoryExceptionsNumber: 93
      enabled: true
  OutOfMemoryThresholds:
    type: "object"
    required:
    - "outOfMemoryExceptionsNumber"
    properties:
      outOfMemoryExceptionsNumber:
        type: "integer"
        format: "int32"
        description: "Detect Java out of memory when number of out-of-memory exceptions\
          \ per minute is N or more."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for Java out-of-memory detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      outOfMemoryExceptionsNumber: 93
  OutOfThreadsDetectionConfig:
    type: "object"
    required:
    - "enabled"
    properties:
      enabled:
        type: "boolean"
        description: "Is detection enabled."
      customThresholds:
        description: "Custom thresholds for Java out-of-threads detection. If not\
          \ present (null) then default thresholds will be used."
        $ref: "#/definitions/OutOfThreadsThresholds"
    description: "Configuration of Java out-of-threads problems detection"
    example:
      customThresholds:
        outOfThreadsExceptionsNumber: 36
      enabled: true
  OutOfThreadsThresholds:
    type: "object"
    required:
    - "outOfThreadsExceptionsNumber"
    properties:
      outOfThreadsExceptionsNumber:
        type: "integer"
        format: "int32"
        description: "Detect Java out of threads when number of out-of-threads exceptions\
          \ per minute is N or more."
        minimum: 1
        maximum: 100
    description: "Custom thresholds for Java out-of-threads detection. If not present\
      \ (null) then default thresholds will be used."
    example:
      outOfThreadsExceptionsNumber: 36
  FailureRateIncreaseAutodetectionConfig:
    type: "object"
    required:
    - "failingServiceCallPercentageIncreaseAbsolute"
    - "failingServiceCallPercentageIncreaseRelative"
    properties:
      failingServiceCallPercentageIncreaseAbsolute:
        type: "integer"
        format: "int32"
        description: "Absolute increase of failing service calls to trigger an alert,\
          \ %."
        minimum: 0
        maximum: 99999
      failingServiceCallPercentageIncreaseRelative:
        type: "integer"
        format: "int32"
        description: "Relative increase of failing service calls to trigger an alert,\
          \ %."
        minimum: 1
        maximum: 999
    description: "Parameters of the failure rate increase auto-detection. Required\
      \ if the **detectionMode** is `DETECT_AUTOMATICALLY`. Not applicable otherwise.\
      \ \n\nBoth absolute and relative threshold must exceed to trigger an alert.\
      \ \n\nExample: If the expected error rate is 1.5%, and you set absolute increase\
      \ of 1%, and relative increase of 50%, the thresholds will be: \nAbsolute: 1.5%\
      \ + **1%** = 2.5% \nRelative: 1.5% + 1.5% * **50%** = 2.25%"
    example:
      failingServiceCallPercentageIncreaseRelative: 929
      failingServiceCallPercentageIncreaseAbsolute: 70613
  FailureRateIncreaseDetectionConfig:
    type: "object"
    required:
    - "detectionMode"
    properties:
      detectionMode:
        type: "string"
        description: "How to detect failure rate increase: automatically, based on\
          \ fixed thresholds, or do not detect."
        enum:
        - "DONT_DETECT"
        - "DETECT_AUTOMATICALLY"
        - "DETECT_USING_FIXED_THRESHOLDS"
      automaticDetection:
        description: "Parameters of the automatic failure rate increase detection."
        $ref: "#/definitions/FailureRateIncreaseAutodetectionConfig"
      thresholds:
        description: "Fixed thresholds for failure rate increase detection."
        $ref: "#/definitions/FailureRateIncreaseThresholdConfig"
    description: "Failure rate increase detection configuration."
    example:
      detectionMode: "DONT_DETECT"
      thresholds:
        threshold: 36
        sensitivity: "LOW"
      automaticDetection:
        failingServiceCallPercentageIncreaseRelative: 929
        failingServiceCallPercentageIncreaseAbsolute: 70613
  FailureRateIncreaseThresholdConfig:
    type: "object"
    required:
    - "sensitivity"
    - "threshold"
    properties:
      threshold:
        type: "integer"
        format: "int32"
        description: "Failure rate during any 5-minute period to trigger an alert,\
          \ %."
        minimum: 0
        maximum: 100
      sensitivity:
        type: "string"
        description: "Sensitivity of the threshold. \n\nWith `low` sensitivity high\
          \ statistical confidence is used, so brief violations (for example, due\
          \ to a surge in load) won't trigger alerts. \n\nWith `high` sensitivity\
          \ no statistical confidence is used. Each violation triggers alert."
        enum:
        - "LOW"
        - "MEDIUM"
        - "HIGH"
[...]
